{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" style="width: 80%; margin-left: auto; margin-right:auto;">

    <span class="display-2 hf">Chow</span><span>By </span><span class="hotpoint fs">HotPoint</span>

    <hr class="my-4">
    <p><span id="P-chow" class="hf">Chow</span> is a online cook book, Its for people how love to cook and spend time in
        there
        kitchen, we teemed up with
        HotPoint because Hotpoint's wide range of appliances suits the needs of every kitchen and home. Our home and
        kitchen domestic appliances have been designed with the latest innovations, intelligent technology and
        functional stylish design, offering our customers outstanding performance. Browse our online catalogue, which
        offers our latest ranges of washing machines, tumble dryers, dishwashers, cookers, fridges and freezers.
        We also offer a wide variety of high quality small domestic appliances for the kitchen and home including slow
        juicers, coffee machines and vacuum cleaners.
        Hotpoint provide extensive customer care and assistance for their domestic appliances...</p>

    <a class="ripple-surface btn btn-primary lead hf btn-lg" href="https://www.hotpoint.ie/" target="_black"
        role="button">Learn
        more</a>


    <a href="{{url_for('all_recipe')}}" class="ripple-surface btn btn-primary lead hf btn-lg" style="float:right;">Back
        Home</a>



</div>

{% endblock content %}