{% extends 'base.html' %}
{% block content %}
<div class="container recipeContainer">
  <!--Cycles throug all the recipes-->
  {% for recipe in recipes %}

  <div class="card" style="width: 18rem;">
    <img src="{{recipe.dish_image}}" id="dish_image" style="height: 200px; width: auto;" class="card-img-top"
      alt="{{recipe.recipe_name}}">
    <div class="card-body container">
      <div class="row">
        <h5 class=" col card-title text-center cpt chf">{{recipe.recipe_name}}</h5>
      </div>
      <hr>
      <div class="row">
        <div class="card-text chf col-6">Chef:</div>
        <div class="card-text col-6 cpt">{{recipe.chef}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="card-text chf col-6">Category:</div>
        <div class="card-text col-6">{{recipe.category}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="card-text chf col-6">Time:</div>
        <div class="card-text col-6 cpt">{{recipe.cooking_time}}</div>
      </div>
      <hr>
      <div class="row">
        <!--This make sure No dairy is not 'NONE'-->
        <div class="card-text chf col-6">Dairy:</div>
        {% if recipe.dairy_free == none %}
        <span class="card-text col-6">Yes</span>
        {% else %}
        <div class="card-text col-6">No</div>
        {% endif %}
      </div>
      <hr>
      <div class="row">
        <p class="card-text text-center col-12">{{recipe.descrition}}</p>
      </div>
      <hr>
      <div class="row">
        <p class="card-title chf col-6">Posted by:</p>
        <p class="card-title col-6 cpt">{{recipe.username}}</p>
      </div>
      <hr>
    </div>
    <!--Card Container END-->
    <!--This link will take you to a recipe page with all the recipes details-->
    <a href="{{ url_for('recipe', recipe_id=recipe._id ) }}" class="btn btn-primary chf">Lets Chow!</a>
  </div>


  {% endfor %}
</div>
{% endblock %}