<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="shortcut icon" href="../static/images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <title>Chow By HotPoint</title>
</head>
<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
      <a href="{{url_for('all_recipe')}}" target="_blank"><span id="navHead" title="Refresh Chow"
          class="hf fs">Chow</span></a>
      <span class="bf w">by</span>
      <a href="https://www.hotpoint.ie/" target="_blank" title="HotPoint.ie"><span
          class="hotpoint w">HotPoint</span></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav .mr-auto">

        <form action="{{url_for('category')}}" method="POST">
          <div class="input-group">
            <select class=" form-control form-control-sm custom-select" id="categorySearch" aria-label="category_search"
              title="Select by: Catogery/Chef/Servings/ Default Newest to Oldest" name="category_search">
              <option value="#" disabled selected>Catogeries</option>
              <option value="Veggie">Veggie</option>
              <option value="Fish">Fish</option>
              <option value="Beef">Beef</option>
              <option value="Pork">Pork</option>
              <option value="Chicken">Chicken</option>
              <option value="Lamb">Lamb</option>
              <option value="Sweets">Sweets</option>
              <option value="Bread">Breads</option>
              <option value="chef">Chefs</option>
              <option value="servings">Servings</option>
            </select>
            <div class="input-group-append">
              <button type="submit" class="ripple-surface btn btn-outline-light btn-sm">
                Select
              </button>
            </div>
          </div>
        </form>
        {% if session['logged_in'] == True  %}
        <li class="nav-item">
          <a class="ripple-surface nav-link" href="{{url_for('myrecipes')}}" title="List your recipes">My Recipes</a>
        </li>
        {% else %}
        {% endif %}
        <li class="nav-item">
          <a class="ripple-surface nav-link" href="{{url_for('add_recipe')}}">Add Recipe</a>
        </li>
        <li class="nav-item">
          <a class="ripple-surface nav-link" title="More About Chow by HotPoint" href="{{url_for('about')}}">About</a>
        </li>
        <li class="nav-item">
          {% if session['logged_in'] == True %}
          <a class="ripple-surface nav-link" title="Logout" href="{{url_for('logout')}}">Logout</a>
          {% else %}
          <a class="ripple-surface nav-link" title="Login and Register" href="{{url_for('login')}}">Login</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <form action="{{url_for('search')}}" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-sm" type="search" placeholder="Recipe Name" aria-label="Search"
              name="search_text">
            <button class="ripple-surface btn btn-outline-light btn-sm" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
    {% block Head %}
    <!--Initialize ckeditor-->
    {{ ckeditor.load(pkg_type="basic") }}
    <!--Puts the Logged in users name in header-->
    {% if session['logged_in'] == True %}
    <h6 class="loggedIn chf">Welcome:&nbsp;{{session_name}}</h6>
    {% else %} {% endif %} {% endblock Head %}
  </nav>
</header>

<body>
  <!--Flashed messages in container to hold just below the nav bar-->
  <div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
    <div class="alert text-center alert-{{ category }} alert-dismissible fade show" role="alert">
      <span>{{ message }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
  <!--Body Content block-->
  {% block content %} {% endblock %}
  <!--FOOTER-->
  <footer class="footer">
    <div class="feet">
      <span id="navFoot" class="hf fs">Chow</span><span class="bf w">by</span><span class="hotpoint w">HotPoint</span>
      <h6 class="copyRight">CopyRight© 2020</h6>
    </div>
    <!--Footer Login / uses same routes as login page-->
    {% if session['logged_in'] == True  %}
    {% else %}
    <form method="POST" class="footer-form" action="{{ url_for('login') }}">
      <div class="form-group">
        <label id="footer-log-lable" for="loginEmail" class="w hf">Login</label>


        <input type="email" class="form-control form-control-sm" name="userEmail" id="footer-loginEmail"
          placeholder="Email" required />
        <label for="footerpassword" class="sr-only"></label>

        <input type="password" class="form-control form-control-sm" name="userPassword" id="footerpassword"
          placeholder="Password" required />
      </div>
      <button id="footer-log-btn" type="submit" class="ripple-surface btn btn-outline-light btn-sm">
        Login
      </button>
    </form>
    {% endif %}
    <div class="feet">
      <ul>
        <li>
          <a class="text-white" title="Back To Top/Refresh" href="{{url_for('all_recipe')}}">All Recipe</a>
        </li>
        <li>
          <a class="text-white" title="More About Chow by HotPoint" href="{{url_for('about')}}">About</a>
        </li>
        <li>
          <a class="text-white" title="Add Your Own Recipe" href="{{url_for('add_recipe')}}">Add Recipe</a>
        </li>
        <li>
          <a class="text-white" title="Get In Touch with Us"
            href="mailto:clintongadavis@gmail.com?Subject=Chow Message">Contact Us</a>
        </li>

        {% if session['logged_in'] == True %}
        <li>
          <a class=" text-white" title="Logout" href="{{url_for('logout')}}">Logout&nbsp;{{session_name}}</a>
        </li>
        {% else %}
        <li>
          <a class="text-white" title="Login/Registerd Page" href="{{url_for('login')}}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="feet">
      <div class="feet">Web Design:</div>
      <div class="feet feet-bg">
        <a id="sign" href="https://github.com/Clinton-Davis" class="feet-bg" target="_blank">Clinton Davis</a>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>


  <script src="{{url_for('static', filename='js/onClick.js')}}"></script>
</body>

</html>