{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="hero-wrap">
        <div class="about-hero">
            <span class="display-2 hf">Chow</span><span>By </span><span class="hotpoint fs">HotPoint</span>
        </div>
        <div class="hero-img-wrap d-none d-lg-flex d-xl-flex">
            <a href="" target="_blank" rel="noopener"><img
                    src="https://cdn.wpsandwatch.com/var/sandwatch/storage/images/ie/hp/home-page/hp-module-carousel-for-banners-carousel-for-hero/hp-module-hero-built-in-collection/8289447-4-eng-IE/HP-Module-Hero-Built-in-collection_HP_compressed.jpg"
                    class="about-img" alt=""></a>
            <a href="" target="_blank" rel="noopener"><img
                    src="https://cdn.wpsandwatch.com/var/sandwatch/storage/images/ie/hp/category-extra-contents/hoods/hp-module-carousel-for-banners-hoods-hero/hp-module-hero-a-breath-of-fresh-air-in-the-kitchen/3593028-2-eng-IE/HP-Module-Hero-A-BREATH-OF-FRESH-AIR-IN-THE-KITCHEN_HP_compressed.jpg"
                    class="about-img" alt=""></a>
            <a href="" target="_blank" rel="noopener"><img
                    src="https://cdn.wpsandwatch.com/var/sandwatch/storage/images/ie/hp/home-page/hp-module-carousel-for-banners-carousel-for-hero/hp-module-hero-activecare-washing-machines/8289495-5-eng-IE/HP-Module-Hero-ACTIVECARE-WASHING-MACHINES_HP_compressed.jpg"
                    class="about-img" alt=""></a>
        </div>

    </div>
    <hr class="my-4">
    <p class="about-p">Thank you for using<span class="dhf">&nbsp;Chow</span>. If you would like to get in contact.
        <br>
        Please leave a message below and we will be in touch shortly.</p>
    <hr>
    <br>
    <form action="{{ url_for('contact_email') }}" method="POST">
        <div class="form-group">
            <label for="fullname">Your Name</label>
            <input type="text" class="form-control" id="fullname" name="name" placeholder="Your Name Here" minlength="2"
                required>
        </div>
        <div class="form-group">
            <label for="contact_email">Email address</label>
            <input type="email" class="form-control" id="contact_email" name="email_address"
                placeholder="Your email here" required>

        </div>
        <div class="form-group">
            <label for="user_message">Leave us a message</label>
            <textarea class="form-control" id="message" name="user_message" minlength="15" rows="3"
                placeholder="Leave your message here." required></textarea>
        </div>
        <div class="container">
            <div class="row">
                <button type="submit" class="ripple-surface col-sm-6 btn btn-primary lead hf btn-lg">Submit</button>
                <a href="{{url_for('all_recipe')}}" class="ripple-surface col-sm-6 btn btn-primary lead hf btn-lg">Back
                    Home</a>
            </div>
    </form>
</div>
</div>


{% endblock content %}