{% extends 'base.html' %}
{% block content %}

<div class="jumbotron" style="width: 80%; margin-left: auto; margin-right:auto;">
    <div class="">
        <h1 class="text-center hf">Edit Recipe</h1>
    </div>

    <div class="addrecipys">
        <form action="{{ url_for('insert_edit', recipe_id=recipe._id) }}" enctype="multipart/form-data" method="POST">
            <div class="form-group">

                <input hidden type="text" class="form-control" id="nickName" value="{{session_name}}" name="username"
                    placeholder="Nick name or Username">
            </div>
            <div class="form-group">
                <label for="inputAddress">Recipe Name:</label>
                <input type="text" class="form-control" id="RecipeName" name="recipe_name"
                    value="{{recipe.recipe_name}}">
            </div>
            <div class="form-group">
                <label for="descrition">Dish descrition:</label>
                <textarea class="form-control" id="descrition" name="descrition"
                    rows="2">{{recipe.descrition}}</textarea>
            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categorys:</label>
                <select class="custom-select my-1 mr-sm-2" name="category" id="category" name="category" required>
                    <option value="" disabled selected>{{recipe.category}}</option>
                    <option value="Veggie">Veggie</option>
                    <option value="Beef">Beef</option>
                    <option value="Pork">Pork</option>
                    <option value="Chicken">Chicken</option>
                    <option value="Lamb">Lamb</option>
                </select>
            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="cookingtime">Servings:</label>
                <select class="custom-select my-1 mr-sm-2" name="category" id="servings" name="servings" required>
                    <option value="" disabled selected>{{recipe.servings}}</option>
                    <option value="1-2">1-2</option>
                    <option value="3-4">3-4</option>
                    <option value="5-6">5-6</option>
                    <option value="7-8">7-8</option>
                    <option value="9-10">9-10</option>
                    <option value="10-12">10-12</option>
                    <option value="12-15">12-15</option>
                    <option value="15-20">15-20</option>
                    <option value="Alot">Alot</option>
                </select>
            </div>

            <label for="inputAddress">Cooking Time:</label>
            <input type="text" class="form-control" name="cooking_time" id="cooking_time"
                value="{{recipe.cooking_time}}">
    </div>
    <br>

    <div class="custom-control custom-switch">
        <input type="checkbox" name="dairy_free" class="custom-control-input" value="Dairy Free" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Dairy Free</label>
    </div>
    <br>
    <div class="form-group custom-file">
        <label class="custom-file-label" for="customFile">Upload Image:</label>
        <input type="file" class="custom-file-input" id="customFile" required>
    </div>
    <br>
    <br>

    <div class="form-group">
        <label for="ingredients_edit">Ingreadence:</label>
        <textarea class="form-control" id="ingredients_edit" name="ingredients"
            rows="4">{{recipe.ingredients}}</textarea>
    </div>
    <div class="form-group">
        <label for="cooking_method">Cooking Method:</label>
        <textarea class="form-control text-capitalize" id="cooking_method" name="cooking_method"
            rows="5">{{recipe.cooking_method}}</textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Done Editting</button>
    </div>
    </form>
</div>
</div>


{% endblock %}