{% extends 'base.html' %}
{% block content %}

<div class="jumbotron" style="width: 80%; margin-left: auto; margin-right:auto;">
    <div class="">
        <h1 class="text-center hf">Edit Recipe</h1>
    </div>

    <div class="addrecipys">
        <form action="{{ url_for('edit_recipe') }}" method="POST">
            <div class="form-group">
                <label class="sr-only" for="username"></label>
                <input type="text" class="form-control sr-only" id="username" value="{{session_name}}" name="username"
                    placeholder="Nick name or Username">
            </div>
            <div class="form-group">
                <label for="inputAddress">Recipe Name:</label>
                <input type="text" class="form-control" id="RecipeName" name="recipe_name"
                    placeholder="What the dish called?">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Dish descrition:</label>
                <textarea class="form-control" id="descrition" name="descrition" rows="2"
                    placeholder="Write a little somthing about your dish"></textarea>
            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categorys:</label>
                <select class="custom-select my-1 mr-sm-2" name="category" id="category" name="category" required>
                    <option value="" disabled selected>Choose Category:</option>
                    <option value="Veggie">Veggie</option>
                    <option value="Beef">Beef</option>
                    <option value="Pork">Pork</option>
                    <option value="Chicken">Chicken</option>
                    <option value="Lamb">Lamb</option>
                    <option value="Fish">Fish</option>
                    <option value="Dessert">Dessert</option>

                </select>
            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="servings">Servings:</label>
                <select class="custom-select my-1 mr-sm-2" name="category" id="servings" name="servings" required>
                    <option value="" disabled selected>Servings:</option>
                    <option value="1-2">1-2</option>
                    <option value="3-4">3-4</option>
                    <option value="5-6">5-6</option>
                    <option value="7-8">7-8</option>
                    <option value="9-10">9-10</option>
                    <option value="10-12">10-12</option>
                    <option value="12-15">12-15</option>
                    <option value="15-20">15-20</option>
                    <option value="Alot">Alot</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputAddress">Cooking Time:</label>
                <input type="text" class="form-control" name="cooking_time" id="cooking_time"
                    placeholder="How long will it take to cook?">
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" name="dairy_free" class="custom-control-input" value="Dairy Free"
                    id="dairy_switch">
                <label class="custom-control-label" for="dairy_switch">Dairy Free</label>
            </div>
            <br>
            <div class="form-group">
                <label for="dish_image_uploader">Dish Image URL</label>
                <input type="text" class="form-control" name="dish_image" id="dish_image_uploader"
                    placeholder="To display an Image we need a Web URL (Link)" required>
            </div>
            <br>
            <div class="form-group">
                <label for="ingredients">Ingreadence:</label>
                <textarea class="form-control" id="ingredients" name="ingredients" rows="4"
                    placeholder="Type in like this: 5g Suger (Enter)"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Cooking Method:</label>
                <textarea class="form-control text-capitalize" id="cooking_method" name="cooking_method" rows="5"
                    placeholder="Seperate each different instruction with a space inbetween."></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add Recipe</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}