{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 80%;">
    <img src="" class="card-img-top" alt="dish">
    <div class="card-body">
        <h5 class="card-title">{{recipe.recipe_name}}</h5>
        <h6 class="card-title">By: {{recipe.nick_name}}</h6>
        <p class="card-text">{{recipe.descrition}}</p>

        <span class="card-text">Category: {{recipe.category}}</span>
        <span class="card-text">Dairy Free: {{recipe.dairy_free}}</span>
        <h5 class="card-text">Ingredients:</h5>
        <p class="card-text">{{recipe.Ingredients}}</p>
        <h5 class="card-text">How to Cook:</h5>
        <p class="card-text">{{recipe.cooking_method}}</p>

    </div>
    <a href="{{url_for('all_recipe')}}" class="btn btn-primary">Back Home</a>
</div>

{% endblock %}