{% extends 'base.html' %}
{% block content %}
<div class="container recipeContainer">
  <!--Cycles throug all the recipes-->
  {% for recipe in recipes %}

  <div class="card">
    <img src="{{recipe.dish_image}}" class="dish_image card-img-top" alt="{{recipe.recipe_name}}">
    <div class="card-body container">


      <div class="row">
        <h5 class=" col card-title text-center cpt dhf">{{recipe.recipe_name}}</h5>
      </div>
      <hr>
      <div class="row">
        <div class="card-text chf col-2" title="Chef"><span class="material-icons">
            restaurant
          </span></div>
        <div class="card-text chf text-center col-10 cpt">{{recipe.chef}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="card-text chf col-2" title="Catogery"><span class="material-icons">
            poll
          </span></div>
        <div class="card-text text-center chf col-10">{{recipe.category}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="card-text chf col-2" title="Total time"><span class="material-icons">
            access_time
          </span></div>
        <div class="card-text chf text-center col-10 cpt">{{recipe.cooking_time}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="card-text chf col-2" title="Servings"><span class="material-icons">
            timelapse
          </span></div>
        <div class="card-text col-10 text-center chf cpt">{{recipe.servings}} Servings</div>
      </div>
      <hr>
      <div class="row">
        <p class="card-text text-center col-12">{{recipe.descrition}}</p>
      </div>
      <hr>
      <div class="row">
        <p class="card-title chf col-6">Posted by:</p>
        <p class="card-title col-6 cpt">{{recipe.username}}</p>
      </div>
      <div class="row">
        <p class="card-title chf col-6">Date Posted:</p>
        <p class="card-title col-6 cpt">{{recipe.date_added}}</p>
      </div>
      <hr>
    </div>
    <!--Card Container END-->
    <!--This link will take you to a recipe page with all the recipes details-->
    <a href="{{ url_for('recipe', recipe_id=recipe._id ) }}" title="Get Recipe Deatils"
      class="ripple-surface card-btn btn btn-primary chf">Lets
      Chow!</a>
  </div>


  {% endfor %}
</div>
{% endblock %}